<div class="container">
  <div class="row justify-content-center align-items-center minh-100">
    <div class="col-md-5">
          <h4 align="center">Agendar Citas</h4>  
          <form  [formGroup]="myForm" novalidate autocomplete="off">
               <div class="container">
                
                <label for="Cargo"><b>Seleccione Area</b></label>
                <select name="Cargo" formControlName="Cargo" class="form-control"  >
                  <option  [ngValue]="cargo.IdCargo" *ngFor="let cargo of allcargos$  | async"> {{cargo.Descripcion}}</option>
                </select>             
                <div class="error" *ngIf="myForm.get('Cargo').hasError('required') && myForm.get('Cargo').touched">No se ha ingresado un Area</div>
                

                <label for="Cargo"><b>Seleccione Doctor</b></label>
                <select name="Cargo" formControlName="Cargo" class="form-control"  >
                  <option  [ngValue]="cargo.IdCargo" *ngFor="let cargo of allcargos$  | async"> {{cargo.Descripcion}}</option>
                </select>             
                <div class="error" *ngIf="myForm.get('Cargo').hasError('required') && myForm.get('Cargo').touched">No se ha ingresado un Area</div>

                <label for="Cargo"><b>Seleccione Fecha</b></label>
                <select name="Cargo" formControlName="Cargo" class="form-control"  >
                  <option  [ngValue]="cargo.IdCargo" *ngFor="let cargo of allcargos$  | async"> {{cargo.Descripcion}}</option>
                </select>             
                <div class="error" *ngIf="myForm.get('Cargo').hasError('required') && myForm.get('Cargo').touched">No se ha ingresado un Area</div>

                <label for="Cargo"><b>Seleccione Hora disponible</b></label>
                <select name="Cargo" formControlName="Cargo" class="form-control"  >
                  <option  [ngValue]="cargo.IdCargo" *ngFor="let cargo of allcargos$  | async"> {{cargo.Descripcion}}</option>
                </select>             
                <div class="error" *ngIf="myForm.get('Cargo').hasError('required') && myForm.get('Cargo').touched">No se ha ingresado un Area</div>

                <button type="submit"  [disabled]="myForm.invalid"class="btn btn-success"(click)="addCita($event)">Agendar Cita</button>
              </div>       
          </form>
          <br>
    </div>
  </div>
</div>